html {
	height:100%;
}

body {
	height:100%;
	background-image: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0, #FBF5DC),
		color-stop(1, #FFFFFF)
	);
	background-image: -o-linear-gradient(bottom, #FBF5DC 0%, #FFFFFF 100%);
	background-image: -moz-linear-gradient(bottom, #FBF5DC 0%, #FFFFFF 100%);
	background-image: -webkit-linear-gradient(bottom, #FBF5DC 0%, #FFFFFF 100%);
	background-image: -ms-linear-gradient(bottom, #FBF5DC 0%, #FFFFFF 100%);
	background-image: linear-gradient(to bottom, #FBF5DC 0%, #FFFFFF 100%);

	font-family:"Amaranth";
}

h1, h2, h3, h4, h5, h6 {
	font-family:"Knewave";
}